node_modules
bower_components
dist/
portainer-checksum.txt
.tmp
.vscode
api/cmd/portainer/portainer*
.gitignore
build/
distribution/
build.sh
.codeclimate.yml
.dockerignore
.godir
gruntfile.js
yarn.lock